html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: large;
    background-color: black;
    z-index: 10;
    color: #fff;
}

.up {
    width: 3rem;
}

header nav ul {
    display: flex;
    padding-left: 0;
    min-width: 30vw;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
    font-weight: bold;
    color: #f8c43a;
}

.main-introduction {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    max-width: 100vw !important;
    padding-bottom: 0;
}

.main-introduction .content {
    width: 90%;
    min-height: min-content;
    max-height: 80vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 30rem;
}

.main-introduction h1 {
    text-align: center;
    margin-bottom: 0;
    color: #f8c43a;
}

.main-introduction #name {
    font-size: 2rem;
}

.main-introduction #job {
    font-size: 3rem;
    font-weight: bolder;
}

.main-introduction .itsMe {
    width: 20rem;
    height: 20rem;
    opacity: 90%;
    border-radius: 50%;
}

.main-introduction .about {
    height: 100%;
    font-size: large;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: 0px 4px 18px 5px rgba(0,0,0,.3);
    background-color: #f8c43a;
}

.main-introduction .title {
    font-size: 3rem;
    font-weight: normal;
    color: #262525;
}

.main-introduction .personal-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 3em;
}

.main-introduction .fa-github {
    font-size: 4rem;
    color: black;
}

.main-introduction .background-twist {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20vw), 0% 100%);
    background-color: #262525; 
    z-index: -1;
}

.main-technologies {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 20px;
    overflow: hidden;
}

.main-technologies .title {
    padding: 0 5rem 0 5rem;
    font-size: 3rem;
    font-weight: normal;
}

.main-technologies .technologies-container {
    width: 100%;
    height: 100%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-technologies .technologies-container .technology-cell {
    position: relative;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 80% 20%;
    justify-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #262525;
    text-align: center;
    padding: 1rem;
}

.main-technologies .technologies-container .technology-cell
img {
    max-height: 100%;
}

.main-technologies .technologies-container
.html {
    background-color: #f8c43a;
}

.main-technologies .technologies-container
.css {
    background-color: #c7ffff;
}

.main-technologies .technologies-container
.js {
    background-color: #f8f4de;
}

.main-technologies .technologies-container
.git {
    background-color: #fdbf85;
}

.main-technologies .technologies-container
.webpack {
    background-color: #d4fdfb;
}

.main-technologies .technologies-container
.npm {
    background-color: #f8e2de;
}

.main-projects {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1317%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c218 C 41.2%2c194.8 123.6%2c114.8 206%2c102 C 288.4%2c89.2 329.6%2c158.4 412%2c154 C 494.4%2c149.6 535.6%2c76 618%2c80 C 700.4%2c84 741.6%2c176.8 824%2c174 C 906.4%2c171.2 947.6%2c54.2 1030%2c66 C 1112.4%2c77.8 1154%2c218.8 1236%2c233 C 1318%2c247.2 1399.2%2c156.2 1440%2c137L1440 560L0 560z' fill='rgba(248%2c 196%2c 58%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c418 C 18%2c433 54%2c497 90%2c493 C 126%2c489 144%2c387.6 180%2c398 C 216%2c408.4 234%2c567 270%2c545 C 306%2c523 324%2c310.2 360%2c288 C 396%2c265.8 414%2c433 450%2c434 C 486%2c435 504%2c270 540%2c293 C 576%2c316 594%2c547 630%2c549 C 666%2c551 684%2c309.4 720%2c303 C 756%2c296.6 774%2c519 810%2c517 C 846%2c515 864%2c310.6 900%2c293 C 936%2c275.4 954%2c424.6 990%2c429 C 1026%2c433.4 1044%2c306.6 1080%2c315 C 1116%2c323.4 1134%2c469.6 1170%2c471 C 1206%2c472.4 1224%2c315.2 1260%2c322 C 1296%2c328.8 1314%2c505.6 1350%2c505 C 1386%2c504.4 1422%2c356.2 1440%2c319L1440 560L0 560z' fill='rgba(197%2c 164%2c 81%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1317'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    padding: 0 0 2rem 0;
}

.main-projects .header{
    padding: 20rem 5rem 0 5rem;
    font-size: 3rem;
    font-weight: normal;
}

.main-projects .projects-container {
    display: grid;
    padding: 0 5rem 0 5rem;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* --grid-column-number: 3;
    --grid-layout-gap: 3rem;
    --grid-item-min-width: 350px;
    --gap-number: calc(var(--grid-column-number) - 1);
    --total-gap-width: calc(var(--gap-number) * var(--grid-layout-gap));
    --grid-item-max-width: calc((100% - var(--total-gap-width) / var(--grid-column-number)));
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item-max-width)), 1fr)); */
}

.main-projects .projects-container .project {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    box-shadow: 2px 2px 20px gray;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
}

.main-projects .projects-container .project img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.main-projects .projects-container .project .project-text {
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #262525;
    color: #fff;
}

.main-projects .projects-container .project .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: 0.5rem 0 0.5rem 0;
}

.main-projects .projects-container .project .main .title { 
    margin: 0;
}

.main-projects .projects-container .project .main .link-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.main-projects .projects-container .project .main .link-container .fa-github {
    color: #fff;
}

.main-projects .projects-container .project .main .link-container .fa-github:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.main-projects .projects-container .project .main .link-container .projectlink {
    width: 30px;
    height: 30px;
    color: #fff;
}

.main-contact {
    display: flex;
    background-color: #C5A451;
    box-sizing: border-box;
    max-width: 100%;
    font-size: large;
    scroll-margin-top: 100px;
    padding: 3rem 3rem 1rem 3rem;
    justify-content: space-around;

}

.main-contact .contact-container-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;
}

.main-contact .contact-container-left .title {
    font-size: 3rem;
    font-weight: normal;
    width: 100%;
}

.main-contact .contact-container-left .contact-info {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.contact-container-right svg {
    transform: scale(0.8);
}

footer {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #262525;
    color: #fdbf85;
    font-size: large;
    font-weight: 600;
}

footer .fa-github {
    color: #fdbf85;
}

.fa-link {
    color: #fff;
}

.fa-link:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

a:visited {
    text-decoration: none;
}

@media(max-width: 1100px) {
    .main-introduction {
        display: flex;
        padding-bottom: 5rem;
    }

    .main-introduction .content {
        display: flex;
        flex-direction: column;
        max-height: fit-content;
        gap: 2rem;
    }

    .main-introduction .content .about {
        flex-shrink: 1;
        flex-grow: 1;
        width: 60vw;
        height: auto;
    }
}

@media(max-width: 600px) {
    .main-introduction {
        display: flex;
        padding-bottom: 5rem;
    }

    .main-introduction .image-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .main-introduction .itsMe {
        margin-top: auto;
        display: block;
    }

    .main-introduction .name {
        font-size: xx-large;
    }

    .main-introduction .content {
        display: flex;
        flex-direction: column;
        max-height: fit-content;
        gap: 2rem;
    }

    .main-introduction .content .about {
        flex-shrink: 1;
        flex-grow: 1;
        width: 100vw;
        height: auto;
    }
}

@media(max-width: 500px) {
    .main-projects .projects-container {
        --grid-item-min-width: 320px;
        padding: 0 0 0 0;
    }

    .main-projects {
        padding: 0 0 0 0;
    }
}

@media(max-width: 1000px) {
    .main-contact {
        scroll-margin-top: 0px;
        padding: 3rem 1rem 3rem 1rem;
        justify-content: space-between;
    }

    .main-contact .contact-container-right svg {
        width: 500px;
        height: min-content;
    }
}

@media(max-width: 750px) {
    .main-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-projects .projects-container .project.animate {
    animation: fade-in 1s ease forwards;
}
